.akcii-slide{
 background: white;  
 padding: 78px 52px; 
 border-radius: 20px;
}
.city-select_block{
    font-weight: 700;
    font-size: 15px;
}
.city__value{
    font-weight: 400;
    font-size: 15px;
    padding-left: 4px;
}
.arrow-city{
    padding-left: 10px;
}
.first-slider_section{
    margin: 72px 0;
    position: relative;
}
.akcii-slide{
    gap: 24px;
}
.akcii-text_block{
    max-width: 832px;
}
.presentImg {
    position: absolute;
    bottom: -5px;
    right: 0;
}
.akcii-text_block{
    gap: 24px;
}
.third-block__card{
    padding: 63px 35px;
    border-radius: 12px;
    background: white;
}
.btn-stocks{
    margin-top: 16px;
}
.third-block__card{
    gap: 24px;
    width: 100%;
}
.third-block_section{
    gap: 40px;
}
